services:
  db:
    image: postgres:15
    container_name: airlabs_db
    healthcheck: 
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - mynetwork

  api:
    build: ./api
    container_name: my_api
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    healthcheck: 
      test: ["CMD-SHELL", "wget -qO- http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s

  streamlit:
    build: ./streamlit
    container_name: my_streamlit
    restart: unless-stopped
    depends_on:
      - api
      - db
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    ports:
      - "8501:8501"
    networks:
      - mynetwork
  cron:
    build: 
      context: ./cronjob
    container_name: cron
    depends_on:
      api: 
        condition: service_healthy
    restart: unless-stopped
    networks:
      - mynetwork

volumes:
  pgdata:

networks:
  mynetwork:
